<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>johan.elmstrom</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>bzQaXA00Mb/lyQUnvQ7PtwVy4Ty8txOtO5pJTwWq4JipM2Z/6wm7Dzh3jqh4ok9m</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.4">
      <emailAddress>johan.elmstrom@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>