<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Call fabric script to deploy</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf /var/lib/jenkins/jobs/deploy-to-test/workspace/*
wget http://artifactory:8081/artifactory/libs-release-local/org/springframework/samples/spring-petclinic/${COMMIT_BUILD}/spring-petclinic-${COMMIT_BUILD}-deployment.zip
unzip spring-petclinic-${COMMIT_BUILD}-deployment.zip
cd spring-petclinic-${COMMIT_BUILD}
fab test deploy_petclinic:build_number=${COMMIT_BUILD}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.22">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>COMMIT_BUILD=${COMMIT_BUILD}</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>acceptance-test</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>