<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Call fabric script to deploy to production</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf /var/lib/jenkins/jobs/deploy-to-test/workspace/* 
cp /var/lib/jenkins/jobs/compile-and-test/builds/${COMMIT_BUILD}/*deployment.zip deployment.zip
unzip deployment.zip
cd spring-petclinic*
fab prod deploy_petclinic</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>